
<h3><%= station.get().name %></h3>
<P><%= post.title %></P>
<P><%=  post.comment %></P>
<img src="<%= post.user_photo %>" width="200px">
<p><a href="/">Back Home</a></p> <p><a href="/show/<%= station.id %>">Back to This Station</p>

