

<p><a href="/">Back home.</a></p>

<p><a href="/edit/<%= user.id %>">Edit profile</a></p>

<h2>Welcome, <%= user.name %></h2>
<img src="<%= user.avi %>" alt="profile picture" width="250px" >

<p>Username: <%= user.userName %></p>
<p>Home Station : <%= favStation.name %></p>
<p>About Me: <%= user.aboutMe %></p>


